<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.facebook.user.UserMapper">
    <insert id="join">
        INSERT INTO t_user
        (pw, nm, tel, email, authCd)
        VALUES
        (#{pw},#{nm},#{tel},#{email}, #{authCd})
    </insert>

    <select id="login">
        SELECT * from t_user
        WHERE email = #{email}
    </select>

    <update id="auth">
        UPDATE t_user
        SET authCd = null
        WHERE email = #{email} AND authCd = #{authCd}
    </update>
</mapper>
